<ion-header>
  <ion-navbar color="primary">
    <ion-title>Todo App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let todo of todos" >
      <ion-checkbox color="dark" [checked]="todo.isCompleted" (click)="updateStatus(todo)"  color="primary"></ion-checkbox>
      <ion-label>{{todo.text}}</ion-label>
      <button (click)="todoSelected($event, todo)" ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>
</ion-content>
