<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>About</h2>
  <p>Version 1.0</p>
  <p>Simple workout tracking application</p>
</ion-content>
