<ion-header>
  <ion-navbar color="primary"> 
    <ion-title>Add Todo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (submit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input [(ngModel)]="text" name="text" type="text" value=""></ion-input>
      </ion-item>
      <hr>
      <button type="submit" ion-button block color=""> Add </button>
    </ion-list>
  </form>
</ion-content>
