<ion-header>
  <ion-navbar color="primary">
    <ion-title>Todo Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <p>{{todo.text}}</p>
    </ion-card-header>
     <ion-card-content>
      <p><strong>Status : </strong><ion-checkbox color="dark" [checked]="todo.isCompleted" (click)="updateStatus(todo)"  color="primary"></ion-checkbox></p>
      <hr>
      <button (click)="deleteTodo(todo._id.$oid)" ion-button block color="danger"> Delete </button>
    </ion-card-content>
  </ion-card>
</ion-content>