<div class="add-todo-form text-center">
    <h1>Add Todo</h1>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Add Todo...." autofocus #todoText />
        <br>
        <button (click)="addTodo($event, todoText)" class="btn btn-primary btn-block">Create</button>
    </div>
</div>
<hr />
<div class="todo-list">
    <h1 class="text-center">Todos Listing</h1>
    <div *ngFor="let todo of todos">    
        <div class="col-md-1">
            <input type="checkbox" [checked]="todo.isCompleted" (click)="updateStatus(todo)" />
        </div>
        <div class="col-md-7">
            <span [class.hidden]="todo.isEditMode">{{todo.text}}</span>
            <input type="text" [class.hidden]="!todo.isEditMode" (keypress)="updateTodoText($event, todo)" value="{{todo.text}}" />
            <input type="button" [class.hidden]="!todo.isEditMode" (click)="setEditState(todo, false)" value="Cancel" class="btn btn-warning" />
        </div>
        <div class="col-md-4 btns">
            <input type="button" (click)="deleteTodo(todo)" class="btn btn-danger pull-right" value="Delete" />
            <input type="button" [class.diabled]="todo.isCompleted" (click)="setEditState(todo, true)" class="btn btn-primary pull-right" value="Edit" />
        </div>
    </div>
</div>