h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.btns input{
  margin-right: 5px;
  margin-bottom: 5px;
}
.navbar {
    border-radius: 0px !important;
}
.navbar p{
  color: #fff;
}
.navbar-inverse{
  background-color: #387ef5;
  border-color: #387ef5;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand{
  font-size:30px;
}

.btn-primary {
   color: #fff;
   background-color: #387ef5;
   border-color: #387ef5;
}
.btn-primary:hover {
   color: #fff;
   background-color: #2469dd;
   border-color: #2469dd;
}