<ion-tabs color="primary">
  <ion-tab [root]="tab4Root" tabTitle="Todo List" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Add Todo" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
